body {
  background-color: white;
}

h1 {
  font-size: 3em;
}

.mono {
  font-family: 'Source Code Pro', monospace;
}

.container {
  display: flex;
  flex-direction: row;
  font-size: 12pt;
  background-color: #EEEEEE;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  max-width: 70.71rem;
  min-height: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.side-bar {
  background-color: #B71C1C;
  color: white;
  padding: 2rem;
}

.side-bar ul {
  padding-left: 2rem;
  list-style-type: square;
}

.profile-pic {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.profile-footer {
  display: flex;
  justify-content: space-around;
}

.specs {
  font-size: 10pt;
}

.summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.summary div {
  width: 13rem;
}

.main {
  padding: 2rem;
  color: #333;
}

.main .header h3 {
  color: #b71c1c;
}

.main .content {
  font-family: "Montserrat"
}

.main .content h5 {
  margin-bottom: 0.5rem;
  color: #5E5E5E;
  font-family: 'Source Code Pro', monospace;
}

.main .content ul {
  padding-left: 1.5rem;
}

@media only screen and (min-width: 64rem) {
  body {
    padding: 2rem;
  }

  .specs {
    font-size: 12pt;
  }
}

@media only screen and (max-width: 64rem) {
  .profile-pic {
    height: 12.5rem;
    width: 12.5rem;
  }

  .summary {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 48rem) {
  .container {
    flex-direction: column;
  }

  .profile-wrapper {
    text-align: center;
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 30rem) {
  .summary {
    justify-content: start;
  }

  .summary {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media print {
  @page {
    margin: 0;
  }

  h1 {
    font-size: 2.5rem;
  }

  .profile-pic {
    height: 12rem;
    width: 12rem;
  }

  .specs {
    font-size: 9pt;
  }


  .container {
    font-size: 11pt;
    min-height: auto;
    height: 100vh;
    box-shadow: none !important;
  }

}
