body {
  background-color: black;
  font-family: 'Source Code Pro', monospace;
  font-size: 14pt;
}

body, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

