@font-face {
    font-family: "8 Bit";
    src: url("../fonts/retro.ttf") format("truetype");
}
body {
    background-color: black;
}

.h4x {
    font-size: 1em;
    text-align: center;
    position: relative;
    font-family: "8 Bit";
    color: #A4C639;
}

.greeting {
    line-height: 300%;
}

.bye-container {
    line-height: 300%;
}
