body {
  background-color: black;
  font-family: 'Source Code Pro', monospace;
  overflow: hidden;
  font-size: 14pt;
}

body, h1, h2, p {
  margin: 0;
  padding: 0;
}

#canvas {
  position: fixed;
  left:     0;
  top:      0;
  bottom:   0;
  right:    0;
}

.container {
  position: relative;
  color:    #b0b0b0;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vw;
}

.card {
  position: absolute;
  background-color: #fdfdfd;
  margin: 0;
  top: 50%;
  left: 50%;
  border-radius: 0.3em;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 32em;
  height: 20em;

  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.card-content {
  position: absolute;
  left:     0.8em;
  top:      0.6em;
  bottom:   0.6em;
  right:    0.8em;
}

.head {
  margin-top: 0.2em;
  font-size: 18pt;
}

.paragraph {
  margin-top: 1.2em;
}

.card a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: underline;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;

}
